
img {
    display: block;
    width: 100%;
}

.responsive-wrapper {
    width: 95%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
}



.page-title {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: center;
}

.page-title h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    position: relative;
}

.page-title h1:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 2px;
    background-color: currentcolor;
}

.magazine-layout {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 2rem;
}

.magazine-column {
    padding: 0 1.5rem;
    grid-column: span 5;


}

.magazine-column:nth-child(2) {
    @media (min-width: 1200px) {
        grid-column: span 2;
    }
}

@media (min-width: 1200px) {
    .magazine-column {
        grid-column: span 1;
        border-right: 1px solid #ccc;
    }

    .magazine-column:last-child {
        border-right: none;
    }
}


.article {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #ccc;
}

.article-img {
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
}

.article-img img {
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
    aspect-ratio: 16/9;

}

.article-img img:hover {
    z-index: 100;
    transform: scale(1.1);
    filter: grayscale(0%);

}

.article-link {
    color: inherit;
    text-decoration: none;
}

.article-title {
    font-family: "Fraunces", serif;
    font-weight: 900;
    line-height: 1.25;
    color: #000;
}

.article-title--medium {
    font-size: 1.5rem;
    margin-top: 0.75rem;
}

.article-title--small {
    font-size: 1.25rem;
    margin-top: 0.75rem;
}

.article-title--large {
    font-size: 2rem;
    margin-top: 1.5rem;
}

.article-link {
    color: inherit;
}

.article-excerpt,
.article-creditation {
    line-height: 1.4;
}
.article-excerpt,
.article-creditation p+p {
    margin-top: 1.5rem;
}

.article-author {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 1.5rem;
}

.article-author-img {
    width: 3rem;
    height: 3rem;
    border-radius: 12px;
    background-color: #323232;
    overflow: hidden;
    background-blend-mode: multiply;

   
}
.article-author-img .article-author-info {
    margin-left: 0.5rem;
}
.article-author-info {
    padding-left: 10px;
    line-height: 1.375;

    
}
.article-author-info dl {
    margin-top: 0.25em;
}

.article-author-info  dt {
    font-weight: 600;
}

.article-author-info dd {
    font-size: 0.875em;
}

.article-category {
    font-weight: 500;
    margin-bottom: 1rem;
    display: block;

    
}
.article-category svg {
    max-width: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}
:focus {
    outline: 0;
}