@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fraunces:ital,wght@0,500;0,600;0,700;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f8f3eb;
  color: #484847;
  padding-bottom: 5rem;
}

.header {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left {
	svg {
		max-height: 40px;
		width: auto;
	}
}

/* .header-middle {
	display: none;
	@media (min-width: 1200px) {
		display: block;
	}
} */

.header-right {
	display: flex;
	align-items: center;
}

.header-nav {
	display: none;
	
}
@media (min-width: 1200px) {
  .header-nav {
    display: block;
  }

}
.header-link {
	color: #000;
	text-decoration: none;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	display: none;
	font-weight: 500;
	display: inline-block;
	/* @media (min-width: 1200px) {
	} */
}
.header-link--button{
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.25rem;
}

.header-menu-button {
	margin-left: 0.75rem;
	border: 0;
	padding: 0;
	background-color: transparent;
	font: inherit;
	position: relative;
	padding-right: 30px;
	font-weight: 500;

	

	
}
.header-menu-button :after,
.header-menu-button :before {
		content: "";
		display: block;
		position: absolute;
		width: 20px;
		height: 2px;
		background-color: currentcolor;
		right: 0;
		top: 8px;
	}
  .header-menu-button:after {
		top: 16px;
		width: 12px;
		right: 8px;
	}

  .discover .content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
  }
  
  .discover .box {
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(0 0 0 / 4%), 0 0 2px rgb(0 0 0 / 6%), 0 0 1px rgb(0 0 0 / 4%);
  }
  .discover .img {
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  .discover h1 {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    .discover .content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
/* img:hover{
transform:scale(1.3);
}

img{
  transition: all 1s ease-in-out;
} */

/*-----------global-----------*/
